@model IQueryable<DissProject.Site.Areas.Admin.Models.UnapproveUser>
@{
    ViewBag.Title = "Одобрени потребители";
    //ViewBag.Message = "Всички потребители";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2>Всички потребители</h2>



@Html.ValidationSummary()

<h2></h2>
<div id="success">

</div>




   
    




@section Scripts {
   <script type="text/javascript">
      

   </script>
}