@model IQueryable<DissProject.Site.Areas.Admin.Models.UnapproveUser>
@{
    ViewBag.Title = "Одобряване на новорегистрирани потребители";
    //ViewBag.Message = "Новорегистрирани потребители";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@Html.ValidationSummary()
<h2>Новорегистрирани потребители</h2>
<br/>
<div id="success">

</div>





    




@section Scripts {
   <script type="text/javascript">
 
   </script>
}