@model IQueryable<DissProject.Site.Areas.Admin.Models.DepartmentViewModel>
@{
    ViewBag.Title = "Катедри";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Всички катедри</h2>
<br />



            
<input type="button" id="saveChanges" class="button-style" value="Съхрани промените" />
 <input type="button" id="undo" class="button-style" value="Назад" />
 <input type="button" id="redo" class="button-style" value="Напред" />

@section Scripts {
    <script>
        
    </script>
}