@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Грешка";
}

<hgroup class="title">
    <h1 class="error">Грешка.</h1>
    <h2 class="error">Възникна грешка повреме на вашата заявка.</h2>
</hgroup>
