@{
    ViewBag.Title = "Начална страница";
}

<hgroup class="title">
    <h1>Добре дошли!</h1>
@*    <h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
    <p>
       Функционалността на тази софтуерна система обхваща дейностите, свързани с дипломирането на студентите от магистърските програми и с проследяването на работата на докторантите във ФМИ. 
    </p>

    <p>
       Целта на информационната система е да автоматизира гореспоменатите дейности, предлагайки информация за придвижването им по всички нива.
    </p>

    <p>
       Пожелаваме Ви приятно използване !
    </p>
</article>

<aside>
    <h3>Връзки</h3>
    <p>
        Функционалността до която вие имате достъп е:
    </p>
    <ul>
        <li>@Html.ActionLink("Докторантура", "Index", "PhdStudent")</li>
        <li>@Html.ActionLink("Справка", "Inquiries", "PhdStudent")</li>
        <li>@Html.ActionLink("Редактиране", "Edit", "UserInfo")</li>
    </ul>
</aside>