@{
    ViewBag.Title = "Докторантура";
}
<div>
        @Html.ActionLink("Работен план по години", "Index", "WorkPlan", null,new {@class="button-med" })
    <br />
        @Html.ActionLink("Индивидуален план", "Index", "IndividualPlan" ,null, new {@class="button-med" })
</div>


